*{
    box-sizing: border-box;
    color: gray;
}
.wrapper{
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-top: 5%;
}

.btn{
    margin-bottom: 50px;
}

.comment-section{
    background-color: rgba(189, 133, 189, 0.329);
    max-width: 400px;
    margin: 10px auto;
    padding: 20px 5px;
    border-radius: 20px;
}
.comment{
    color: goldenrod;
    font-weight: 600;   
}

.name{
    color: yellowgreen;
    font-weight: 600;
}

.date{
    color: yellowgreen;
    font-style: italic;
}